*{
	color:#fff;
	font-family: 'Lato';
	font-size: 20px;
}
.bg-blue{
	background-color: #284c66;
}
.full-height{height: 100vh}
.title{    
	font-family: 'Roboto Slab' !important;
    font-weight: bold;
    font-size: 60px;
}
.button-colored{
	background-color: #75b57f !important;
}
.button-front{
	margin-top: 25px;
	margin-bottom: 25px;
	border-radius: 50px;
	border: 2px solid #75b57f;
	width: 130px;
	background-color: rgba(0,0,0,0);
}
.button-front:first-of-type{
	margin-right: 50px;

}
.text-green{color:#75b57f !important;}
.img-content{
	position: relative;
  top: 50%;
  transform: translateY(-50%);
}


@media only screen and (max-width: 991px) {
    .img-content{
		max-width: 250px !important;
		
	}
	.content{
		text-align: center;
	}
}
@media only screen and (max-width: 540px) {
   .title{font-size: 45px}
   *{font-size: 16px}
}
@media only screen and (max-width: 410px) {
   .title{font-size: 30px}
   *{font-size: 14px}
   .button-front:first-of-type{
		margin-right: 0px;
	}
}