body{ overflow-x: hidden; }
*{
	
	font-family: 'Lato';
	
}
.bg-blue{
	background-color: #284c66;
	color:#fff;
	font-size: 20px;
}
.bg-grey{
	background-color: #eaeaec;
}
.full-height{height: 100vh}
.title{    
	font-family: 'Roboto Slab' !important;
    font-weight: bold;
    font-size: 60px;
}
.button-colored{
	background-color: #75b57f !important;
}
.button-front{
	margin-top: 25px;
	margin-bottom: 25px;
	border-radius: 50px;
	border: 2px solid #75b57f;
	width: 130px;
	background-color: rgba(0,0,0,0);
}
.button-front:first-of-type{
	margin-right: 50px;
}
.text-green{color:#75b57f !important;}
.img-content{
	position: relative;
  top: 50%;
  transform: translateY(-50%);
}

/* blog */
.carousel,.img-carousel{max-height: 500px}
.carousel-caption{	
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
}
.textCapt {
    font-family: 'Roboto Slab';
    max-width: 70%;
    margin: auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
.btn-white-bordered{
	border-color: #fff;
	color:#fff;
}
.textCapt>h1{
    font-weight: bold;
}
.card-box{
	background-color: #fff;
	border-radius: 5px;
	margin-top: 30px;
	    min-height: 586px;
}
.card-image{
	height: 250px;
	width: 100%;
}

.card-image>img{
	border-radius: 5px 5px 0px 0px;
	height: 250px
}
.card-content{
	width: 85%;
	margin: auto;
	font-family: "Lato";
	padding:15px;
}
.color-grey{color:#a7a7a4;}
.color-black{color:#000; !important}
.card-content>h3,.card-content>h4{font-family: "Roboto Slab";font-weight: bold}
@media only screen and (max-width: 991px) {
    .img-content{
		max-width: 250px !important;
		
	}
	.content{
		text-align: center;
	}
}
@media only screen and (max-width: 540px) {
   .title{font-size: 45px}
   .bg-blue{font-size: 16px}
}
@media only screen and (max-width: 410px) {
   .title{font-size: 30px}
   .bg-blue{font-size: 14px}
   .button-front:first-of-type{
		margin-right: 0px;
	}
}